<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMSystem.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
				<key>dateExpires</key>
				<string>2020/3/13</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AZSClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7B08CBE91868E558D069EA094426E19D295D03D</string>
						<key>dateExpires</key>
						<string>2020/3/13</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>49P3QLQU2V</string>
						<key>name</key>
						<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>49P3QLQU2V.com.sino.tms.mobile.ios.enterprise</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>49P3QLQU2V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TMSystem.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>512b691f-7ac3-4420-bbc0-2f8774502eb5</string>
				<key>name</key>
				<string>Sino.TMSystem.Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>49P3QLQU2V</string>
				<key>name</key>
				<string>Jiangsu Sino Logistics Networking Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
