<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/Jorgejie/AutoAppUpdateDemo/raw/master/apk/TMSystem.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/sj1910/TMSS/raw/master/TMSystem/2017-12-19/15-30-27/Artboard Copy@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/sj1910/TMSS/raw/master/TMSystem/2017-12-19/15-30-27/Artboard Copy 3@3x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sino.tms.mobile.ios.enterprise</string>
				<key>bundle-version</key>
				<string>2.1.7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TMSystem</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
